@import '@picocss/pico/css/pico.min.css';

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    overscroll-behavior: none;
    background-image: url('bg.webp');
    background-size: cover;
}

footer svg {
    max-height: 18px;
}

.entry .info > svg, .entry .info > img {
    max-height: 50px;
    max-width: 50px;
}

dialog {
    background-color: rgb(3, 4, 4, 0.75);
}
