@import '@picocss/pico/css/pico.min.css';

:root {
    color-scheme: light dark;
    --bg: url('/src/assets/images/bg.webp');
    --nav-fg-color: #dfe3eb;
}

@media (prefers-color-scheme: dark) {
    body[data-theme=""] {
        --bg: url('/src/assets/images/bg_dark.webp');
    }
}

body[data-theme="dark"] {
    --bg: url('/src/assets/images/bg_dark.webp');
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overscroll-behavior: none;
    background-image: var(--bg);
    background-size: cover;
}

nav svg {
    max-height: 24px;
    max-width: 24px;
}

footer svg {
    max-height: 18px;
}

.entry .icon {
    & svg, & img {
        width: 100%;
        height: auto;
    }
}

dialog {
    background-color: rgb(3, 4, 4, 0.75);
}

h1 svg {
    max-height: 64px;
    max-width: 64px;
}

#file-select svg {
    width: 1rem;
    height: auto;
}

.warning {
    color: var(--pico-form-element-invalid-border-color);
}
