@import '@picocss/pico/css/pico.min.css';

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    overscroll-behavior: none;
    background-image: url('/src/assets/images/bg.webp');
    background-size: cover;
}

nav svg {
    max-height: 24px;
    max-width: 24px;
}

footer svg {
    max-height: 18px;
}

.entry .icon {
    & svg, & img {
        width: 100%;
        height: auto;
    }
}

dialog {
    background-color: rgb(3, 4, 4, 0.75);
}

h1 svg {
    max-height: 64px;
    max-width: 64px;
}

#file-select svg {
    width: 1rem;
    height: auto;
}

.warning {
    color: var(--pico-form-element-invalid-border-color);
}
